<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bell-Co</title>
    <link rel="stylesheet" type="text/css" href="./styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/foundation-16.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>
<body ng-app="app" ng-controller="main as main">
    
    <div class="row">  
        
        <div class="column small-16 nav no-pad">
            <img src="images/tacobell_logo.png">
        </div>
    
    </div>
    
    <div class="row">

        <div class="column small-16 no-pad title-bar">
            <span>Apply To Join Our Team</span>
        </div>
    </div>
    
    <div class="row main-body">
        <form name="userApplication" ng-submit="" novalidate>
        <div class="large-10 large-offset-3 medium-14 medium-offset-1 small-offset-1 small-14 center">
            <!-- Tell about yourself -->
            <div class="row">
                
                <div class="column small-16 apply-section">   
                    
                    <header>
                        Tell Us About Yourself
                    </header>
                    
                    <div class="apply-section-body">
                        
                        <div class="row no-margin">
                            
                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.firstName.length >= 1}">First Name</label>
                                <input 
                                    type="text" 
                                    placeholder="First Name"
                                    name="firstName"
                                    ng-model="application.firstName"
                                    required>
                            </div>

                           <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.middleName.length >= 1}">Middle Name</label>
                                <input 
                                    type="text" 
                                    placeholder="Middle Name"
                                    name="middleName"
                                    ng-model="application.middleName"
                                    required>
                            </div>

                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.lastName.length >= 1}">Last Name</label>
                                <input 
                                    type="text" 
                                    placeholder="Last Name"
                                    name="lastName"
                                    ng-model="application.lastName"
                                    required>
                            </div>

                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.preferredName.length >= 1}">Preferred Name</label>
                                <input 
                                    type="text" 
                                    placeholder="Perferred Name"
                                    name="preferredName"
                                    ng-model="application.preferredName">

                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-5 medium-5 small-16 input-group">
                                <label ng-class="{'show-label': application.address.length >= 1}">Current Address</label>
                                <input 
                                    type="text" 
                                    placeholder="Current Address"
                                    name="address"
                                    ng-model="application.address"
                                    required>
                            </div>

                           <div class="column large-4 medium-4 small-8 input-group">
                                <label ng-class="{'show-label': application.city.length >= 1}">City</label>
                                <input 
                                    type="text" 
                                    placeholder="City"
                                    name="city"
                                    ng-model="application.city"
                                    required>
                            </div>

                            <div class="column large-3 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.state.length >= 1}">State</label>
                                <input 
                                    type="text" 
                                    placeholder="State"
                                    name="state"
                                    ng-model="application.state"
                                    required>
                            </div>

                            <div class="column large-2 medium-3 small-8 input-group">
                                <label ng-class="{'show-label': application.zip.length >= 1}">Zip</label>
                                <input 
                                    type="text" 
                                    placeholder="Zip"
                                    name='zip'
                                    ng-model="application.zip"
                                    ng-pattern="/^\d+$/"
                                    required>
                            </div>
                            
                            <div class="column large-2 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.yearsThere.length >= 1}">Years There</label>
                                <input 
                                    type="text" 
                                    placeholder="Years There"
                                    name="yearsThere"
                                    ng-model="application.yearsThere"
                                    required>
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-6 medium-6 small-16 input-group">
                                <label ng-class="{'show-label': application.email.length >= 1}">E-Mail</label>
                                <input 
                                    type="text" 
                                    placeholder="E-Mail"
                                    name="e-mail"
                                    ng-model="application.email"
                                    required>
                            </div>

                            <div class="column large-5 medium-5 small-16 input-group">
                                <label ng-class="{'show-label': application.phoneCell.length >= 1}">Telephone (Cell)</label>
                                <input 
                                    type="text" 
                                    placeholder="Cell Phone Number"
                                    name="cellPhone"
                                    ng-model="application.phoneCell"
                                    required>
                            </div>

                            <div class="column large-5 medium-5 small-16 input-group">
                                <label ng-class="{'show-label': application.phoneHome.length >= 1}">Telephone (Home)</label>
                                <input 
                                    type="text" 
                                    placeholder="Home Phone Number"
                                    name="homePhone"
                                    ng-model='application.phoneHome'>
                            </div>

                        </div>

                        <div class="row no-margin">
                            
                            <div class="column medium-8 small-16 age-confirm">
                                Are you 16 years of age or older? 
                            </div>

                            <div class="column medium-8 small-16 age-confirm">
                                
                                <div class="custom-radio right">
                                  <span>Yes</span>
                                  <input 
                                    type="radio" 
                                    value="yes" 
                                    id="age-yes" 
                                    name="age"
                                    ng-model="application.olderThan16" />
                                  <label 
                                    for="age-yes"
                                    ng-class="{'checked': application.olderThan16 == 'yes'}"></label>
                                </div>

                                <div class="custom-radio right">
                                  <span>No</span>
                                  <input 
                                    type="radio" 
                                    value="no" 
                                    id="age-no" 
                                    name="age"
                                    ng-model="application.olderThan16" />
                                  <label 
                                    for="age-no" 
                                    ng-class="{'checked': application.olderThan16 == 'no'}"></label>
                                </div>

                            </div>

                        </div>
                        
                    </div> 
                </div>
            </div>

            <!-- Like to do at taco bell -->
            <div class="row">
                
                <div class="column small-16 apply-section">   
                    
                    <header>
                        What Would You Like To Do At Taco Bell?
                    </header>
                    
                    <div class="apply-section-body">
                        
                        <div class="row">
                            <div class="column small-16">
                                <span class="label-like">Positions</span>
                            </div>
                        </div>

                        <div class="row no-margin job-positions">
                                
                            <div class="squaredThree column large-4 medium-4 small-16 input-group">
                              <span>Crew Member</span>
                              <input 
                                type="checkbox"  
                                id="crew-member" 
                                name="" 
                                ng-model="application.jobPreferences.positions.crewMember"/>
                              <label 
                                for="crew-member" 
                                ng-class="{'checked': application.jobPreferences.positions.crewMember}"></label>
                            </div>

                            <div class="squaredThree column large-4 medium-4 small-16 input-group">
                              <span>Shift Manager</span>
                              <input 
                                type="checkbox"  
                                id="shift-manager" 
                                name="" 
                                ng-model="application.jobPreferences.positions.shiftManager"/>
                              <label 
                                for="shift-manager" 
                                ng-class="{'checked': application.jobPreferences.positions.shiftManager}"></label>
                            </div>

                            <div class="squaredThree column large-4 medium-4 small-16 input-group">
                              <span>Store Manager</span>
                              <input 
                                type="checkbox" 
                                id="store-manager" 
                                name="" 
                                ng-model="application.jobPreferences.positions.storeManager"/>
                              <label 
                                for="store-manager" 
                                ng-class="{'checked': application.jobPreferences.positions.storeManager}"></label>
                            </div>

                            <div class="squaredThree column large-4 medium-4 small-16 input-group">
                              <span>Other</span>
                              <input 
                                type="checkbox" 
                                id="other" 
                                name="other" 
                                ng-model="application.jobPreferences.positions.other"/>
                              <label 
                                for="other" 
                                ng-class="{'checked': application.jobPreferences.positions.other}"></label>
                            </div>

                        </div>

                        <div class="row pad-lr-15" ng-show="application.jobPreferences.positions.other">

                            <div class="column medium-16 small-16 input-group">
                                <label>Other</label>
                                <input type="text" placeholder="Other Roles">
                            </div>

                        </div>

                        <div class="row">
                            <div class="column small-16">
                                <span class="label-like">Job Preferences</span>
                            </div>
                        </div>

                        <div class="row no-margin job-wage">
                                
                            <div class="squaredThree column large-4 medium-4 small-16 input-group">
                              <span>Full Time</span>
                              <input 
                                type="checkbox" 
                                id="full-time" 
                                name=""
                                ng-model="application.jobPreferences.fullTime" />
                              <label 
                                for="full-time"
                                ng-class="{'checked': application.jobPreferences.fullTime}"></label>
                            </div>

                            <div class="squaredThree column large-4 medium-4 small-16 input-group">
                              <span>Part Time</span>
                              <input 
                                type="checkbox" 
                                id="part-time" 
                                name=""
                                ng-model="application.jobPreferences.partTime" />
                              <label 
                                for="part-time"
                                ng-class="{'checked': application.jobPreferences.partTime}"></label>
                            </div>

                            <div class="column large-3 medium-3 left small-16 input-group wage">
                                <label class="show-label">Desired Wage / Salary</label>
                                <input 
                                    type="text" 
                                    placeholder="$"
                                    ng-model="application.jobPreferences.wage">
                            </div>

                            <div class="column large-5 medium-5 left small-16 input-group wage">
                                <label class="show-label">Location</label>
                                <input 
                                    type="text" 
                                    placeholder=""
                                    ng-model="application.jobPreferences.location">
                            </div>


                        </div>

                        <div class="row">
                            <div class="column small-16">
                                <span class="label-like">Availability</span>
                            </div>
                        </div>

                        <div class="row no-margin">
                                
                             <div class="column medium-16 small-4">
                                 
                                 <div class="row days no-margin">
                                    <div class="column medium-1 text-center">Days</div>
                                    <div class="column medium-2 text-center">Mon</div>
                                    <div class="column medium-2 text-center">Tue</div>
                                    <div class="column medium-2 text-center">Wed</div>
                                    <div class="column medium-2 text-center">Thur</div>
                                    <div class="column medium-2 text-center">Fri</div>
                                    <div class="column medium-2 text-center">Sat</div>
                                    <div class="column medium-2 text-center left">Sun</div>
                                 </div>

                             </div>   
                            
                            <div class="column medium-16 small-6">
                                 <div class="row avail-from">
                                    <div class="column medium-1">From</div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2 left">
                                        <input type="text" place="From">
                                    </div>
                         
                                </div>
                            </div>

                            <div class="column medium-16 small-6">
                                <div class="row no-margin avail-to">
                            
                                    <div class="column medium-1">To</div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2">
                                        <input type="text" place="From">
                                    </div>
                                    <div class="column medium-2 left">
                                        <input type="text" place="From">
                                    </div>
                                </div>

                            </div>

                            <div class="column small-16">
                                <p class="note">Each "From" and "To" is required and must have a "PM" or "AM" ex. - <span class="highlight">7AM</span>. Days you are not available to work please enter "<span class="highlight">n/a</span>".</p>
                            </div>

                        </div>

                        <div class="row no-margin">
                                
                            <div class="column large-10 medium-10 small-16 input-group height-50">
                              <span>Have you worked at Taco Bell before?</span>
                            </div>

                            <div class="column large-6 medium-6 small-16 height-50">
                              
                                <div class="custom-radio right">
                                  <span>Yes</span>
                                  <input 
                                    type="radio" 
                                    value="yes" 
                                    id="work-before-yes" 
                                    name="workedBefore" 
                                    ng-model="application.workedBefore"/>
                                  <label 
                                    for="work-before-yes"
                                    ng-class="{'checked': application.workedBefore == 'yes'}"></label>
                                </div>

                                <div class="custom-radio right">
                                  <span>No</span>
                                  <input 
                                    type="radio" 
                                    value="no" 
                                    id="work-befor-no" 
                                    name="workedBefore" 
                                    ng-model="application.workedBefore"/>
                                  <label 
                                    for="work-befor-no"
                                    ng-class="{'checked': application.workedBefore == 'no'}"></label>
                                </div>

                            </div>

                        </div>
                        <div class="row no-margin" ng-show="application.workedBefore == 'yes'">
                            <div class="column medium-6 small-16 input-group wage">
                                <label ng-class="{'show-label': application.jobPreferences.workedbefore.location.length >= 0}">
                                Located Where</label>
                                <input 
                                    type="text" 
                                    placeholder="Located where?"
                                    name="workedBeforeLocation"
                                    ng-model="application.jobPreferences.workedbefore.location">
                            </div>

                            <div class="column medium-6 small-16 input-group wage">
                                <label ng-class="{'show-label': application.jobPreferences.workedbefore.position.length >= 0}">What Position</label>
                                <input 
                                    type="text" 
                                    placeholder="What Position did you work?"
                                    name="workedBeforePosition"
                                    ng-model="application.jobPreferences.workedbefore.position"> 
                            </div>

                            <div class="column medium-4 small-16 input-group wage">
                                <label class="show-label">Date</label>
                                <input type="text" placeholder="Date of employment">
                            </div>
                        </div>

                        
                    </div>

                </div>

            </div>

            <!-- School info -->
            <div class="row">
                
                <div class="column small-16 apply-section">   
                    
                    <header>
                        What schools have you attended?
                    </header>
                    
                    <div class="apply-section-body">
                        
                        <div class="row no-margin">
                            
                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.highschool.name.length >= 0}">High School</label>
                                <input 
                                    type="text" 
                                    placeholder="High School"
                                    name="SchoolsHighSchoolName"
                                    ng-model="application.schools.highschool.name">
                            </div>

                           <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.highschool.city.length >= 0}">City</label>
                                <input 
                                    type="text" 
                                    placeholder="City"
                                    name="SchoolsHighSchoolCity"
                                    ng-model="application.schools.highschool.city">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.highschool.state.length >= 0}">State</label>
                                <input 
                                    type="text" 
                                    placeholder="State"
                                    name="SchoolsHighSchoolState"
                                    ng-model="application.schools.highschool.state">
                            </div>

                            <div class="column large-3 medium-3 small-16 left input-group">
                                <label ng-class="{'show-label': application.schools.highschool.diploma.length >= 0}">Diploma Received</label>
                                <input 
                                    type="text" 
                                    placeholder="Diploma Received"
                                    name="SchoolsHighSchoolDiploma"
                                    ng-model="application.schools.highschool.diploma">
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.college.name.length >= 0}">College</label>
                                <input 
                                    type="text" 
                                    placeholder="College"
                                    name="SchoolsCollegeName"
                                    ng-model="application.schools.college.name">
                            </div>

                           <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.college.city.length >= 0}">City</label>
                                <input 
                                type="text" 
                                placeholder="City"
                                name="SchoolsCollegeCity"
                                ng-model="application.schools.college.city">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.college.state.length >= 0}">State</label>
                                <input 
                                type="text" 
                                placeholder="State"
                                name="SchoolsCollegeState"
                                ng-model="application.schools.college.state">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.college.from.length >= 0}">From</label>
                                <input 
                                type="text" 
                                placeholder="Form"
                                name="SchoolsCollegeFrom"
                                ng-model="application.schools.college.from">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.college.to.length >= 0}">To</label>
                                <input 
                                type="text" 
                                placeholder="To"
                                name="SchoolsCollegeTo"
                                ng-model="application.schools.college.to">
                            </div>

                            <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.college.degree.length >= 0}">Degree Received</label>
                                <input 
                                    type="text" 
                                    placeholder="Degree Received"
                                    name="SchoolsCollegeDegree"
                                    ng-model="application.schools.college.degree">
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.other.name.length >= 0}">Other</label>
                                <input 
                                    type="text" 
                                    placeholder="Other"
                                    name="SchoolsOtherName"
                                    ng-model="application.schools.other.name">
                            </div>

                           <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.other.city.length >= 0}">City</label>
                                <input 
                                    type="text" 
                                    placeholder="City"
                                    name="SchoolsOtherCity"
                                    ng-model="application.schools.other.city">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.other.state.length >= 0}">State</label>
                                <input 
                                    type="text" 
                                    placeholder="State"
                                    name="SchoolsOtherState"
                                    ng-model="application.schools.other.state">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.other.from.length >= 0}">From</label>
                                <input 
                                    type="text" 
                                    placeholder="Form"
                                    name="SchoolsOtherFrom"
                                    ng-model="application.schools.other.from">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.other.to.length >= 0}">To</label>
                                <input 
                                    type="text" 
                                    placeholder="To"
                                    name="SchoolsOtherTo"
                                    ng-model="application.schools.other.to">
                           </div>

                            <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': application.schools.other.degree.length >= 0}">Degree Received</label>
                                <input 
                                    type="text" 
                                    placeholder="Degree"
                                    name="SchoolsOtherDegree"
                                    ng-model="application.schools.other.degree">
                            </div>
                        </div>

                        
                    </div> 
                </div>
            </div>

            <!-- Last 2 Jobs -->
            <div class="row">
                
                <div class="column small-16 apply-section">   
                    
                    <header>
                        Two most recent jobs
                    </header>
                    
                    <div class="apply-section-body">
                        
                        <div class="row">
                            <div class="column small-16">
                                <span class="job-number">Job #1</span>
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-5 medium-5 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.one.company.length >= 0}">Company</label>
                                <input 
                                    type="text" 
                                    placeholder="Company"
                                    name="JobsOneCompany"
                                    ng-model="application.jobs.one.company">
                            </div>

                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.one.supervisor.length >= 0}">Supervisor's Name</label>
                                <input 
                                    type="text" 
                                    placeholder="Supervisor's Name"
                                    name="JobsOneSupervisor"
                                    ng-model="application.jobs.one.supervisor">
                            </div>

                            <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.one.phone.length >= 0}">Telephone</label>
                                <input 
                                    type="text" 
                                    placeholder="Telephone"
                                    name="JobsOnePhone"
                                    ng-model="application.jobs.one.phone">
                            </div>

                            <div class="column large-2 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.one.from.length >= 0}">From</label>
                                <input 
                                    type="text" 
                                    placeholder="From"
                                    name="JobsOneFrom"
                                    ng-model="application.jobs.one.from">
                            </div>

                            <div class="column large-2 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.one.to.length >= 0}">To</label>
                                <input 
                                    type="text" 
                                    placeholder="To"
                                    name="JobsOneTo"
                                    ng-model="application.jobs.one.to">
                            </div>


                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-5 medium-5 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.one.address.length >= 0}">Address</label>
                                <input 
                                    type="text" 
                                    placeholder="Address"
                                    name="JobsOneAddress"
                                    ng-model="application.jobs.one.address">
                            </div>

                           <div class="column large-4 medium-4 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.one.city.length >= 0}">City</label>
                                <input 
                                    type="text" 
                                    placeholder="City"
                                    name="JobsOneCity"
                                    ng-model="application.jobs.one.city">
                            </div>

                            <div class="column large-3 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.one.state.length >= 0}">State</label>
                                <input 
                                    type="text" 
                                    placeholder="State"
                                    name="JobsOneStatezip"
                                    ng-model="application.jobs.one.state">
                            </div>

                            <div class="column large-2 medium-3 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.one.zip.length >= 0}">Zip</label>
                                <input 
                                    type="text" 
                                    placeholder="Zip"
                                    name="JobsOneZiplastwage"
                                    ng-model="application.jobs.one.zip">
                            </div>

                            <div class="column large-2 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.one.lastwage.length >= 0}">Last Wage</label>
                                <input 
                                    type="text" 
                                    placeholder="last Wage"
                                    name="JobsOne"
                                    ng-model="application.jobs.one.lastwage">
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-8 medium-8 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.one.jobdetails.length >= 0}">What did you do?</label>
                                <input 
                                    type="text" 
                                    placeholder="What did you do?"
                                    name="JobsOneJobDetails"
                                    ng-model="application.jobs.one.jobdetails">
                            </div>

                           <div class="column large-8 medium-8 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.one.leaveReason.length >= 0}">Why did you leave</label>
                                <input 
                                    type="text" 
                                    placeholder="Why did you leave?"
                                    name="JobsOneLeaveReason"
                                    ng-model="application.jobs.one.leaveReason">
                            </div>

                        </div>

                        <div class="row no-margin">
                            
                            <div class="column medium-8 small-16 age-confirm">
                                If currently employed, may we contact? 
                            </div>

                            <div class="column medium-8 small-16 age-confirm">
                                
                                <div class="custom-radio right">
                                  <span>Yes</span>
                                  <input 
                                    type="radio" 
                                    value="yes" 
                                    id="jobOneContactJob-yes" 
                                    name="jobOneMayWeContact"
                                    ng-model="application.jobs.one.contactLastJob" />
                                  <label 
                                    for="jobOneContactJob-yes" 
                                    ng-class="{'checked': application.jobs.one.contactLastJob == 'yes'}"></label>
                                </div>

                                <div class="custom-radio right">
                                  <span>No</span>
                                  <input 
                                    type="radio" 
                                    value="no" 
                                    id="jobOneContactJob-no" 
                                    name="jobOneMayWeContact"
                                    ng-model="application.jobs.one.contactLastJob" />
                                  <label 
                                    for="jobOneContactJob-no" 
                                    ng-class="{'checked': application.jobs.one.contactLastJob == 'no'}"></label>
                                </div>

                            </div>

                        </div>
                        
                        <!-- Job number 2 -->

                        <div class="row">
                            <div class="column small-16">
                                <span class="job-number">Job #2</span>
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-5 medium-5 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.two.company.length >= 0}">Company</label>
                                <input 
                                    type="text" 
                                    placeholder="Company"
                                    name="JobsOneCompany"
                                    ng-model="application.jobs.two.company">
                            </div>

                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.two.supervisor.length >= 0}">Supervisor's Name</label>
                                <input 
                                    type="text" 
                                    placeholder="Supervisor's Name"
                                    name="JobsOneSupervisor"
                                    ng-model="application.jobs.two.supervisor">
                            </div>

                            <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.two.phone.length >= 0}">Telephone</label>
                                <input 
                                    type="text" 
                                    placeholder="Telephone"
                                    name="JobsOnePhone"
                                    ng-model="application.jobs.two.phone">
                            </div>

                            <div class="column large-2 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.two.from.length >= 0}">From</label>
                                <input 
                                    type="text" 
                                    placeholder="From"
                                    name="JobsOneFrom"
                                    ng-model="application.jobs.two.from">
                            </div>

                            <div class="column large-2 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.two.to.length >= 0}">To</label>
                                <input 
                                    type="text" 
                                    placeholder="To"
                                    name="JobsOneTo"
                                    ng-model="application.jobs.two.to">
                            </div>


                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-5 medium-5 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.two.address.length >= 0}">Address</label>
                                <input 
                                    type="text" 
                                    placeholder="Address"
                                    name="JobsOneAddress"
                                    ng-model="application.jobs.two.address">
                            </div>

                           <div class="column large-4 medium-4 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.two.city.length >= 0}">City</label>
                                <input 
                                    type="text" 
                                    placeholder="City"
                                    name="JobsOneCity"
                                    ng-model="application.jobs.two.city">
                            </div>

                            <div class="column large-3 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.two.state.length >= 0}">State</label>
                                <input 
                                    type="text" 
                                    placeholder="State"
                                    name="JobsOneStatezip"
                                    ng-model="application.jobs.two.state">
                            </div>

                            <div class="column large-2 medium-3 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.two.zip.length >= 0}">Zip</label>
                                <input 
                                    type="text" 
                                    placeholder="Zip"
                                    name="JobsOneZiplastwage"
                                    ng-model="application.jobs.two.zip">
                            </div>

                            <div class="column large-2 medium-2 small-8 input-group">
                                <label ng-class="{'show-label': application.jobs.two.lastwage.length >= 0}">Last Wage</label>
                                <input 
                                    type="text" 
                                    placeholder="last Wage"
                                    name="JobsOne"
                                    ng-model="application.jobs.two.lastwage">
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-8 medium-8 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.two.jobdetails.length >= 0}">What did you do?</label>
                                <input 
                                    type="text" 
                                    placeholder="What did you do?"
                                    name="JobsOneJobDetails"
                                    ng-model="application.jobs.two.jobdetails">
                            </div>

                           <div class="column large-8 medium-8 small-16 input-group">
                                <label ng-class="{'show-label': application.jobs.two.leaveReason.length >= 0}">Why did you leave</label>
                                <input 
                                    type="text" 
                                    placeholder="Why did you leave?"
                                    name="JobsOneLeaveReason"
                                    ng-model="application.jobs.two.leaveReason">
                            </div>

                        </div>

                        <div class="row no-margin">
                            
                            <div class="column medium-8 small-16 age-confirm">
                                If currently employed, may we contact? 
                            </div>

                            <div class="column medium-8 small-16 age-confirm">
                                
                                <div class="custom-radio right">
                                  <span>Yes</span>
                                  <input 
                                    type="radio" 
                                    value="yes" 
                                    id="jobTwoContactJob-yes" 
                                    name="jobTwoMayWeContact"
                                    ng-model="application.jobs.two.contactLastJob" />
                                  <label 
                                    for="jobTwoContactJob-yes" 
                                    ng-class="{'checked': application.jobs.two.contactLastJob == 'yes'}"></label>
                                </div>

                                <div class="custom-radio right">
                                  <span>No</span>
                                  <input 
                                    type="radio" 
                                    value="no" 
                                    id="jobTwoContactJob-no" 
                                    name="jobTwoMayWeContact"
                                    ng-model="application.jobs.two.contactLastJob" />
                                  <label 
                                    for="jobTwoContactJob-no" 
                                    ng-class="{'checked': application.jobs.two.contactLastJob == 'no'}"></label>
                                </div>

                            </div>

                        </div>

                    </div> 
                </div>
            </div>

            <!-- Mis. Info -->
            <div class="row">
                
                <div class="column small-16 apply-section">   
                    
                    <header>
                        Miscellaneous Information
                    </header>
                    
                    <div class="apply-section-body">
                        
                        <div class="row no-margin">
                                
                            <div class="column large-10 medium-10 small-16 input-group height-50">
                              <span>Do you have reliable transportation to get to work?</span>
                            </div>

                            <div class="column large-6 medium-6 small-16 height-50">
                              
                                <div class="custom-radio right">
                                  <span>Yes</span>
                                  <input 
                                    type="radio" 
                                    value="yes" 
                                    id="transportation-yes" 
                                    name="transportation" 
                                    ng-model="application.mis.transportation" />
                                  <label 
                                    for="transportation-yes"
                                    ng-class="{'checked': application.mis.transportation == 'yes'}"></label>
                                </div>

                                <div class="custom-radio right">
                                  <span>No</span>
                                  <input 
                                    type="radio" 
                                    value="no" 
                                    id="transportation-no" 
                                    name="transportation" 
                                    ng-model="application.mis.transportation" />
                                  <label 
                                    for="transportation-no" 
                                    ng-class="{'checked': application.mis.transportation == 'no'}"></label>

            
                                </div>

                            </div>

                            <div class="column large-10 medium-10 small-16 input-group height-50">
                              <span>If hired, can you show proof of your legal right to work in the United States?</span>
                            </div>

                            <div class="column large-6 medium-6 small-16 height-50">
                              
                                <div class="custom-radio right">
                                  <span>Yes</span>
                                  <input 
                                    type="radio" 
                                    value="yes" 
                                    id="show-proof-yes" 
                                    name="show-proof" 
                                    ng-model="application.mis.showProof"/>
                                  <label 
                                    for="show-proof-yes" 
                                    ng-class="{'checked': application.mis.showProof == 'yes'}"></label>
                                </div>

                                <div class="custom-radio right">
                                  <span>No</span>
                                  <input 
                                    type="radio" 
                                    value="no" 
                                    id="show-proof-no" 
                                    name="show-proof" 
                                    ng-model="application.mis.showProof"/>
                                  <label 
                                    for="show-proof-no" 
                                    ng-class="{'checked': application.mis.showProof == 'no'}"></label>
                                </div>

                            </div>

                            <div class="column large-10 medium-10 small-16 input-group height-50">
                              <span>If hired, when could you begin work?</span>
                            </div>

                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': application.mis.startDate.length >= 0}">Start Date</label>
                                <input 
                                    type='text' 
                                    placeholder="Start Date"
                                    name="MisStartDate"
                                    ng-model="application.mis.startDate"
                                    required>
                            </div>

                        </div>
                        
                    </div>

                </div>

            </div>

        </div>
    </div>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/applicationController.js"></script>
</body>
</html>