* {
  padding: 0;
  margin: 0;
}

body, html {
  min-height: 100%;
  min-width: 100%;
}

header {
  width: 100%;
  height: 60px;
}
@media only screen and (max-width : 768px) {

 

.backarrow {
  width: 15%;
  height: 100%;
  float: left;
  text-align: center;
}

.arrowdivider {
  height: 35px;
  width: 2px;
  border-right: 1px solid #f1f1f1;
  position: relative;
  left: 18px;
  top: 6px; 
  display: inline-block;
}

.titlebar {
  width: 70%;
  height: 100%;
  background: #fff;
  float: left;
}

.sidenavbtn {
  width: 15%;
  height: 100%;
  background: #4DC3C7;
  float: left;
  text-align: center;
}

.maintitle {
  height: 100%;
  line-height: 100%;
  font-size: 20px;
  display: block;
  float: left;
  margin-top: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4A4A4A;
}


.searchbar {
  width: 100%;
  height: 40px;
  background: #f1f1f1;
  padding: 10px 0;
}

.searchinput input {
  width: 70%;
  height: 40px;
  border: none;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-indent: 10px;
  border-radius: 4px;
  background: #D8D8D8;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.filtersearch {
  width: 22.5%;
  height: 30px;
  float: left;
}
.filterbtn {
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  float: left;
  line-height: 40px;
  text-align: center;
  background: #B0ADAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0px 15px;
  height: 40px;
  color: #FFF;

}



/* -----------------------------
        Awesone Fonts
-------------------------------*/

.fa-bars {
  color: #389FA2;
  font-size: 36px;
  margin-top: 10px;
}

.fa-angle-left {
  color: #4DC3C7;
  font-size: 36px;
  margin-top: 12px;
}

.fa-times-circle {
  font-size: 36px;
  color: #389FA2;
}

.flaticon-people5 {
  color: #9B9B9B;
  margin-top: 12px;
  margin-right: 8px;
  display: inline-block;
  float: left;
}




.fa-chevron-circle-up {
  font-size: 36px;
  margin-top: 4px;
  color: #F1F1F1;
  transition: 0.8s ease;
}

.rotatedown {
  color: #9B9B9B;
  transform: rotate(180deg);
  transition: 0.8s ease;
}

.searchtabicon .flaticon-people5 {
  color: #F1F1F1;
  margin-top: 18px;
  margin-right: 8px;
  display: inline-block;
  float: left;
}

.darkgreen{
  color: #389FA2;
}






#panel {
  width: 100%;
  height: 500px;
  background: black;
  position: absolute;
  left: -100%;
  /*display: none;*/
  transition: .5s;
  color: #fff;
}

#panel2 {
  width: 100%;
  height: 500px;
  background: red;
  position: absolute;
  left: -100%;
  /*display: none;*/
  transition: 0.4s ease;
  color: #fff;
}

#main {
  color: black;
}







#employee_filter_panel {
  width: 100%;
  height: 100%;
  background: #FFF;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: 0.4s ease-out;
}

#employee_filter_panel header {
  width: 100%;
  height: 60px;
  background: #4DC3C7;
}

#employee_filter_panel .headertitle {
  width: 70%;
  height: 100%;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  float: left;
}

.headericon {
  width: 15%;
  height: 100%;
  float: left;
}

#employee_filter_panel .flaticon-people5 {
  float: right;
}

#employee_filter_panel .headerexit .fa-times-circle {
  height: 100%;
  margin-top: 12px;
  position: absolute;
  right: 10px;
}

#employee_filter_panel section {
  width: 100%;
  height: 100%;
  background: #fff;
}


.searchtab {
  width: 100%;
  height: 70px;
  background: none;
  border-bottom: 1px solid #dadada;
  position: relative;
}

.searchtabicon {
  float: left;
  width: 15%;
  height: 100%;
}

.searchtabtitle {
  float: left;
  width: 70%;
  height: 100%;
  line-height: 70px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:#9B9B9B;
}

.searchdropdownicon {
   margin-top: 12px;
  position: absolute;
  right: 10px;
  transition: 0.8s ease;
}
}

/*font-family: 'Oswald', sans-serif;*/


@font-face {
  font-family: "Flaticon";
  src: url("flaticon.eot");
  src: url("flaticon.eot#iefix") format("embedded-opentype"),
  url("flaticon.woff") format("woff"),
  url("flaticon.ttf") format("truetype"),
  url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-size: 50px;
font-style: normal;
margin-left: 10px;
}.flaticon-people5:before {
  content: "\e000";
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}