<!-- School info -->
            <div class="row animated fadeInUp">
                
                <div class="step-info">
                    Step <span class="highlight-bold">3</span> of 5
                </div>

                <div class="column small-16 apply-section">   
                    
                    <header>
                        What schools have you attended?
                    </header>
                    <form name="step3" ng-submit="vm.nextStep(3, step3.$valid)" novalidate>
                    <div class="apply-section-body">
                        
                        <div class="row">
                            <div class="column small-16">
                                <span class="label-like pad-b-10">High School</span>
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.highschool.name.length >= 1}">High School</label>
                                <input 
                                    type="text" 
                                    placeholder="High School"
                                    name="HighSchoolName"
                                    ng-model="vm.application.schools.highschool.name"
                                    required
                                    ng-class="{ 'has-error' : step3.HighSchoolName.$invalid && vm.submittedStep3 }"
                                    >
                            </div>

                           <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.highschool.city.length >= 1}">City</label>
                                <input 
                                    type="text" 
                                    placeholder="City"
                                    name="HighSchoolCity"
                                    ng-model="vm.application.schools.highschool.city"
                                    required
                                    ng-class="{ 'has-error' : step3.HighSchoolCity.$invalid && vm.submittedStep3 }">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.highschool.state.length >= 1}">State</label>
                                <input 
                                    type="text" 
                                    placeholder="State"
                                    name="HighSchoolState"
                                    ng-model="vm.application.schools.highschool.state"
                                    required
                                    ng-class="{ 'has-error' : step3.HighSchoolState.$invalid && vm.submittedStep3 }">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <input 
                                type="text"
                                readonly="true" 
                                disabled>
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <input 
                                type="text" 
                                disabled 
                                readonly="true">
                            </div>

                            <div class="column large-3 medium-3 small-16 left input-group">
                                <label ng-class="{'show-label': vm.application.schools.highschool.diploma.length >= 1}">Diploma Received</label>
                                <input 
                                    type="text" 
                                    placeholder="Diploma Received"
                                    name="HighSchoolDiploma"
                                    ng-model="vm.application.schools.highschool.diploma"
                                    required
                                    ng-class="{ 'has-error' : step3.HighSchoolDiploma.$invalid && vm.submittedStep3 }">
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-16">
                                <span class="label-like pad-b-10">College</span>
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.college.name.length >= 1}">College</label>
                                <input 
                                    type="text" 
                                    placeholder="College"
                                    name="SchoolsCollegeName"
                                    ng-model="vm.application.schools.college.name">
                            </div>

                           <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.college.city.length >= 1}">City</label>
                                <input 
                                type="text" 
                                placeholder="City"
                                name="SchoolsCollegeCity"
                                ng-model="vm.application.schools.college.city">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.college.state.length >= 1}">State</label>
                                <input 
                                type="text" 
                                placeholder="State"
                                name="SchoolsCollegeState"
                                ng-model="vm.application.schools.college.state">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.college.from.length >= 1}">From</label>
                                <input 
                                type="text" 
                                placeholder="Form"
                                name="SchoolsCollegeFrom"
                                ng-model="vm.application.schools.college.from"
                                date 
                                readonly="true" 
                                class="date-picker">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.college.to.length >= 1}">To</label>
                                <input 
                                type="text" 
                                placeholder="To"
                                name="SchoolsCollegeTo"
                                ng-model="vm.application.schools.college.to"
                                date 
                                readonly="true" 
                                class="date-picker">
                            </div>

                            <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.college.degree.length >= 1}">Degree Received</label>
                                <input 
                                    type="text" 
                                    placeholder="Degree Received"
                                    name="SchoolsCollegeDegree"
                                    ng-model="vm.application.schools.college.degree">
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-16">
                                <span class="label-like pad-b-10">Other</span>
                            </div>
                        </div>

                        <div class="row no-margin">
                            
                            <div class="column large-4 medium-4 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.other.name.length >= 1}">Other</label>
                                <input 
                                    type="text" 
                                    placeholder="Other"
                                    name="SchoolsOtherName"
                                    ng-model="vm.application.schools.other.name">
                            </div>

                           <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.other.city.length >= 1}">City</label>
                                <input 
                                    type="text" 
                                    placeholder="City"
                                    name="SchoolsOtherCity"
                                    ng-model="vm.application.schools.other.city">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.other.state.length >= 1}">State</label>
                                <input 
                                    type="text" 
                                    placeholder="State"
                                    name="SchoolsOtherState"
                                    ng-model="vm.application.schools.other.state">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.other.from.length >= 1}">From</label>
                                <input 
                                    type="text" 
                                    placeholder="Form"
                                    name="SchoolsOtherFrom"
                                    ng-model="vm.application.schools.other.from"
                                    date 
                                    readonly="true" 
                                    class="date-picker">
                            </div>

                            <div class="column large-2 medium-2 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.other.to.length >= 1}">To</label>
                                <input 
                                    type="text" 
                                    placeholder="To"
                                    name="SchoolsOtherTo"
                                    ng-model="vm.application.schools.other.to"
                                    date 
                                    readonly="true" 
                                    class="date-picker">
                           </div>

                            <div class="column large-3 medium-3 small-16 input-group">
                                <label ng-class="{'show-label': vm.application.schools.other.degree.length >= 1}">Degree Received</label>
                                <input 
                                    type="text" 
                                    placeholder="Degree"
                                    name="SchoolsOtherDegree"
                                    ng-model="vm.application.schools.other.degree">
                            </div>
                        </div>

                        <div class="row no-margin">

                            <div class="column large-3 medium-4 small-10 right">
                                <button 
                                    type="submit" 
                                    class="button expand next">
                                    Next
                                    <span><i class="fa fa-angle-right"></i></span></button>
                            </div>
                            <div class="column medium-3 small-6 right">
                                <button ng-click="vm.backStep(3)" class="button expand back"><span><i class="fa fa-angle-left"></i></span>Back</button>
                            </div>

                        </div>

                        </div>
                        
                    </div> 
                </div>
            </div>